
.account_tab{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.account_tab > p{
    font-size : 40px
}

.account_tab > input{
    min-width: 400px;
    font-size: 30px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid black;
    outline: none;
    pointer-events: none;
}

.account__title{
    font-size: 70px;
    color: #297045;
    margin: 0px;
    margin-bottom: 10px;
}